/* @TIPOGRAFÍA */
/* ********** */

// FONT-FACE
@font-face {
    font-family: "roboto";
    src:    url(../../font/roboto-regular-webfont.woff2) format("woff2"),
            url(../../font/roboto-regular-webfont.woff) format("woff");
        }

        html{
            font-size: 18px;
            font-family: $fontFamily;
            color:black;
        }        